<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModbusSimJs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModbusSimJs.Properties.Settings>
            <setting name="JsFile" serializeAs="String">
                <value>cfg\example.js</value>
            </setting>
            <setting name="VarTxt" serializeAs="String">
                <value>cfg\vars.txt</value>
            </setting>
            <setting name="LoopPeriodMs" serializeAs="String">
                <value>200</value>
            </setting>
        </ModbusSimJs.Properties.Settings>
    </userSettings>
</configuration>